{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    'indent': [ 2, 4 ],
    "linebreak-style": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-shadow": "off",
    "no-unused-expressions": "off"
  },
   "env": {
    "mocha": true,
    "node": true
  }
}
