{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": "off",
    'indent': [ 2, 4 ],
    "linebreak-style": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-shadow": "off",
    "no-prototype-builtins": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off"
  },
   "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
        "path": true,
        "assert": true,
        "expect": true,
        "Parser": true,
        "svgConfig": true,
        "MiniconsHandler": true,
    }
}
